:root{
  --lila-corp:#845EC2;
  --pink-corp:#D65DB1;
  --salmon-corp:#FF6F91;
  --dark-orange-corp:#FF9671;
  --orange-corp:#FFC751;
  --yellow-corp:#F9F871;
  --white-corp:#FCFCFC;
}

label {
  color: var(--white-corp);
}

.container {
  margin: 0;
  padding: 0;
}

.button{
  display:block;
  padding:20px;
  text-align:center;
  border:none;
  outline:none;
  border-radius:5px;
  background:var(--lila-corp);
  width:70%;
  font-size:20px;
  color:var(--white-corp);
  margin-top:10px;
}

.input{
  margin:10px auto;
  padding:15px;
  width:80%;
  border-radius: 5px;
}