.container-post-post{
  margin:10px 5px;
  background:var(--white-2);
  border:1px solid var(--orange-corp)
}
.container-post-post .container-author{
  display:flex;
  justify-content: flex-start;
  align-items:center;
  padding:10px;
}
.container-post-post .container-author img{
  width:50px;
  height:50px;
  border-radius:50%;
  display:block;
}
.container-post-post .container-author a{
  display:block;
  font-size:18px;
  font-style: italic;
  padding:0 20px;
}
.container-post-post h1{
  text-align:center;
  font-size:25px;
  margin:0;
  text-transform:uppercase;
  padding:10px;
  background:var(--orange-corp);
  color: var(--white-2);
}
.container-post-description{
  margin:0;
  padding:10px;
  background:#fff;
}
.container-post-list li{
  display:flex;
  justify-content: space-around;
  background:#000;
  align-items: center;
}
.container-post-list li img{
  width:20px;
}
.container-post-list p{
  display:inline-block;
  padding:5px 15px;
  margin-bottom:0;
}
.steps-button{
  display:block;
  margin:0 auto;
}
.container-post-votes{
  width:20%;
  color:var(--white-corp);
}
.container-post-step{
  width:80%;
  color:var(--white-corp);
}
.container-footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0 10px;
}
.container-footer p{
  display:block;
  color:var(--lila-corp);
  font-style: italic;
}


