.text {
  font-family: Helvetica, Arial, sans-serif;
}

.create-post-container {
  width: 90%;
  margin: 0 auto;
}

.create-post-title {
  padding-top: 70px;
}

.input-for-create-post{
  margin:10px auto;
  padding:15px;
  width:90%;
  border-radius: 5px;
}

input:focus{
  border:2px solid var(--lila-corp);
  outline:none;
}

textarea {
  margin:10px auto;
  padding:15px;
  width:90%;
  height: 130px;
  border-radius: 5px;
}

textarea:focus{
  border:2px solid var(--lila-corp);
  outline:none;
}

.create-post-button {
  margin: 0 auto;
  width: 90%;
}


