.login-page, .signup-page{
  background-color:var(--orange-corp);
  min-height:100vh;
  display:flex;
  justify-content: center;
}

.login-container, .signup-container{
  position:absolute;
  top:160px;
  width:90%;
  text-align:center;
  margin-left:0;
  margin-right:0;
}

.title-app{
  font-family: 'Sugar', Courier, monospace;
  font-size:70px;
  color:var(--white-corp);
}

.title-app span{
  color:var(--lila-corp);
}
.login-form, .signup-form{
  display:flex;
  flex-flow:column nowrap;
  justify-content:center;
  align-items: center;
}

.error-message{
  color: black;
}

.login-error-message {
  margin-top: 560px;
}