.profile-main-page {
  background-color:var(--orange-corp);
  padding-bottom: 100px;
  min-height: 100vh;
}

.user-profile {
  padding: 50px;
  text-align: center;
  font-size: 50px;
}

.profile-img {
  padding: 150px;
  text-align: center;
}

.decoration-none {
  text-decoration: none;
}

.navbar-profile{
  display:flex;
  justify-content: space-around;
  background:var(--orange-corp);
  height:40px;
  padding:10px 0px;
  position:fixed;
  bottom:0;
  width:100%;
  left:0;
}


